<% @station.recieved_others.reverse_each do |call| %>
<li>
  <%= link_to "/dscs/#{call.id}", remote: true, class:"link", method: :post do %>
  <span class="date_time">'<%= call.created_at.strftime("%y-%m-%d %H:%M")%></span><span class="cat"><%= @category[:"#{call.category}"] %></span><span class="fmt"><%= @format["#{call.format}"] %></span>
  <% end %>
</li>
<% end %>

<script>
$(".link, .input").on("keydown", function(e){
  var index       =   null;
  var selector    =   ".link, .input";
  if ( e.keyCode == 38 || e.keyCode == 37 ){
      index   =   $(selector).index(this);
      if (index > 0){
          $(selector).eq(index-1).focus();
      }
      return;
  }
  if ( e.keyCode == 40  || e.keyCode == 39){
      index   =   $(selector).index(this);
      if (index < $(selector).length - 1 ){
          $(selector).eq(index+1).focus();
      }
      return;
  }
});
</script>
