<p>2.1.1) All ships</p>
<%= form_tag("/dscs/safety_call_all_ships", remote: true, method: :post) do %>
<div class="selects">
  <ul>
    <li class="hide_li"><a tabindex="0" class="link">Format</a><p class="colon">:</p><p class="inputs">All ships call</p></li>
    <li class="hide_li"><a tabindex="0" class="link">Type</a><p class="colon">:</p><p class="inputs">All modes RT</p></li>
    <li><a class="link" tabindex="0">Work CH</a><p class="colon">:</p><p class="inputs">[</p><input type="number" value="16" id="input_2_1_1_1" class="input input_s" name="work_ch"><p class="inputs2">]</p></li>
  </ul>
  <div class="ok_cancel">
    <a class="link link_ok" id="ok_2_1_1" tabindex="0">[OK]</a>
    <input type="submit" value="[Call]" class="link link_call" id="call_2_1_1" tabindex="0">
    <a class="link link_cancel" id="cancel_2_1_1" tabindex="0">[Cancel]</a>
  </div>
</div>
<% end %>
