<p>8.1) Self diagnosis</p>
<ul class="menues">
  <li><a class="link" tabindex="0" id="menu8_1_1">1. Transceiver</a></li>
  <li><a class="link" tabindex="0" id="menu8_1_2">2. Controller</a></li>
  <li><a class="link" tabindex="0" id="menu8_1_3">3. Transceiver log</a></li>
  <li><a class="link" tabindex="0" id="menu8_1_4">4. Controller log</a></li>
  <li><a class="link" tabindex="0" id="menu8_1_5">5. DSC loop</a></li>
  <li><a class="link back" tabindex="0" id="back8_1">0. Back</a></li>
</ul>
