<p>8.3) System information</p>
<ul class="system_infos">
  <li><span class="sys_info">Self-ID</span><span class="colon">:</span><span class="sys_val"><%= @station.mmsi %></span></li>
  <li><span class="sys_info">Group-ID</span><span class="colon">:</span><span class="sys_val"></span></li>
  <li><span class="sys_info">ATIS-ID</span><span class="colon">:</span><span class="sys_val"></span></li>
  <li><span class="sys_info">Num of CTLRs</span><span class="colon">:</span><span class="sys_val">1</span></li>
  <li><span class="sys_info">Own CTLR ID</span><span class="colon">:</span><span class="sys_val">1</span></li>
  <li><span class="sys_info">WKR</span><span class="colon">:</span><span class="sys_val">Valid</span></li>
  <li><span class="sys_info">User key asgn</span><span class="colon">:</span><span class="sys_val"></span></li>
  <li><span class="sys_info">Priority CH</span><span class="colon">:</span><span class="sys_val">16</span></li>
  <li><span class="sys_info">Hook switch</span><span class="colon">:</span><span class="sys_val">Valid</span></li>
  <li><span class="sys_info">TX monitor</span><span class="colon">:</span><span class="sys_val">ON</span></li>
  <li><span class="sys_info">Alarm wake-up</span><span class="colon">:</span><span class="sys_val">ON</span></li>
  <li><span class="sys_info">AIS info</span><span class="colon">:</span><span class="sys_val">Recieving</span></li>
  <li><span class="sys_info">AME info</span><span class="colon">:</span><span class="sys_val">Normal</span></li>
  <li><span class="sys_info">Serial number</span><span class="colon">:</span><span class="sys_val">BK<%= 10000 + @station.id %></span></li>
</ul>
