<p>2.2.2) Specific station</p>
<%= form_tag("/dscs/urgency_call_specific_station", remote: true, method: :post) do %>
<div class="selects">
  <ul>
    <li><a class="link" tabindex="0">Adress</a><p class="colon">:</p><p class="inputs">[</p><input type="number" id="input_2_2_2_1" class="input" name="mmsi"><p class="inputs2">]</p></li>
  </ul>
  <div class="ok_cancel">
    <a class="link link_ok" id="ok_2_2_2" tabindex="0">[OK]</a>
    <input type="submit" value="[Call]" class="link link_call" id="call_2_2_2" tabindex="0">
    <a class="link link_cancel" id="cancel_2_2_2" tabindex="0">[Cancel]</a>
  </div>
</div>
<% end %>
