<div class="container">

  <h1>LET'S VHF! とは</h1>
  <p>
    LET'S VHF!は、船舶で用いられる国際VHF無線電話を再現したシミュレーターアプリです。一般通信から安全・緊急・遭難通信まで、デジタル選択呼出を用いた通信操作を体験することができます。
  </p>
  <div class="mode_icons">
    <div class="mode_icon">
      <%= image_tag "on_board.svg", class:"img" %>
        <h3>各種設定<br />モード</h3>
      <p>
        各種設定モードでは、船名やコールサイン等を自由に設定することができます。
      </p>
    </div>
    <div class="mode_icon">
      <%= image_tag "with_handset.svg" , class:"img" %>
      <h3 class="h3right">シミュレーター<br />モード</h3>
      <p>
        VHFシミュレーターを自由に操作できるモードです。ログイン中の他のユーザーと交信することができます。
      </p>
    </div>
  </div>

</div>
