<div class="container">

  <h1>LET'S VHF! とは</h1>
  <p>
    ブラウザ上で動くVHFシミュレーターです。船橋間の一般通信からデジタル選択呼出を用いた遭難・緊急・安全通信まで、VHF無線電話による通信操作を0から学ぶことができます。
  </p>
  <div class="mode_icons">
    <div class="mode_icon">
      <%= image_tag "on_board.svg", class:"img" %>
        <h3>シナリオ<br />モード</h3>
      <p>
        シナリオに沿ってVHF無線電話の使い方を順を追って学びます。
      </p>
    </div>
    <div class="mode_icon">
      <%= image_tag "with_handset.svg" , class:"img" %>
      <h3 class="h3right">シミュレーター<br />モード</h3>
      <p>
        VHFシミュレーターを自由に操作できるモードです。ログイン中の他のユーザーと交信することもできます。
      </p>
    </div>
  </div>

</div>
