<div class="title">
  <h1>
    HOW TO USE<span>.</span><br>
    HOW TO COMMUNICATE<span>.</span><br>
  </h1>
</div>


<div class="container">

  <div class="btns">
    <p class="btn sing-up">
      新規登録
    </p>
    <p class="btn log-in">
      ログイン
    </p>
  </div>

</div>
