<div class="title">
  <h1>
    HOW TO USE<span>.</span><br>
    HOW TO COMMUNICATE<span>.</span><br>
  </h1>
</div>


<div class="container">

  <div class="btns">
    <%= link_to "新規登録","/signup", class:"btn sign-up" %>
    <%= link_to "ログイン","/login", class:"btn log-in" %>
  </div>

</div>
