
<div class="title">
  <h1>
    HOW TO USE<span>.</span><br>
    HOW TO COMMUNICATE<span>.</span><br>
  </h1>
</div>
<ul class="btns">
  <li class="btn sing-up">
    新規登録
  </li>
  <li class="btn log-in">
    ログイン
  </li>
</ul>
