setTimeout(function(){
  $(".sub_screen").hide();
  $(".menu_screen").hide();
  $(".home_screen").show();
  $(".distress_info").text("DISTRESS");
  $(".distress_info").addClass("reverse_color");
  $(".dsc_info").hide();
  $(".dsc_infos").html('<p>Next DISTRESS call : 3.9 min later</p>');
},2000);
