/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is gener
 $ally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // $green: #27b875;
 // $light-green: #e3fde7;
 // $dark-green: #1e5a2e;
 // $red: #fd664b;
 @import "colors";
 a {
   color:#ffffff;
   text-decoration: none;
 }
 button, input, select, textarea {
  font-family : inherit;
  font-size   : 16px;
}
 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 button, input[type="submit"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 0;
   border: none;
   outline: none;
   background: transparent;
 }
body {
  font-family: 'Hiragino Sans','Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  background-color: $light-green;
  margin: 0;
  header {
    background-color: $green;
    position: fixed;
    top: 0;
    z-index: 6;
    height: 50px;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    .header-logo {
      float:left;
      margin-left: 34px;
      }
    .header-menus {
      float:right;
      margin-right: 34px;
      li {
        float: left;
        margin-left: 43px;
      }
      }
    }
    .flash {
      position: fixed;
      top: 50px;
      z-index: 10;
      background-color: $red;
      height: 50px;
      width: 100%;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 50px;
      text-align: center;
      opacity: 0.8;
    }
  }
