// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  margin-top: 230px;
}

h1 {
  font-size: 62px;
  font-weight: 800;
  color: #1e5a2e;
  margin-left:8.5%;
  line-height: 110px;
  span {
    color: #fd664b;
  }
}
