// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $green: #27b875;
// $light-green: #e3fde7;
// $dark-green: #1e5a2e;
// $red: #fd664b;
@import "colors";

.title {
  width: 937px;
  padding-left: 87px;
  margin: 0 auto;
  h1 {
    line-height: 110px;
    padding-top: 130px;
    span {
      color: $red;
    }
  }
}
.container {
  width: 850px;
  //padding-left: 87px;
  //padding-right: 87px;
  margin: 0 auto;
}
h1 {
  font-size: 62px;
  font-weight: 800;
  color: $dark-green;
  padding-top:80px;
  span {
    color: $red;
  }
}
p {
  font-size:25px;
  font-weight: 500;
  line-height: 50px;
  color: $dark-green;
  margin-top: 50px;
}
.btns {
  height: 250px;
  width: 563px;
  //text-align: center;
  margin: 0 auto;
  //border: 1px solid $red;
}
.btn {
  display: inline-block;
  width: 258px;
  height: 50px;
  border-radius: 25px;
  font-size:25px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  margin: 100px auto;
  &.sign-up {
    background-color: $red;
    float:left;
    }
  &.log-in {
    background-color: $green;
    float: right;
    }

  }
  .mode_icons {
    margin-top: 44px;
    .mode_icon {
      text-align: center;
      position: relative;
      float: left;
      width: 50%;
      .img {
        width: 396px;
        height: 396px;
        border-radius: 46px;

      }
      h3 {
        pointer-events: none;
        position: absolute;
        top: 245px;
        width: 100%;
        font-size: 52px;
        font-weight: 900;
        line-height: 58px;
        color: $red;
        margin:auto;
          -webkit-text-stroke: 3px #ffffff;
          &.h3right {
            color: $green;
          }
      }
      p {
        margin: 27px auto;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        width: 400px;
      }
    }

  }
